{% extends 'base.html.twig' %}

{% block title %}Modification photo de profil{% endblock %}

{% block body %}
    <h1>Modification photo de profil</h1>

    {{ form_start(form) }}
        {{ form_row(form.imageFile) }}
        <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}

    </br><a href="{{ path('app_profile') }}">Retour à l'espace personnel</a>
{% endblock %}