{% extends 'base.html.twig' %}

{% block title %}espace personnel | {{ app.user.userIdentifier }}{% endblock %}

{% block body %}


    <div class="user-profil">
    <h2 class="text-center">Espace personnel</h2>
    <ul>
        <li>Nom: <strong>{{ app.user.nom }}</strong></li>
        <li>Préom: <strong>{{ app.user.prenom }}</strong></li>
        <li>Email:  <strong>{{ app.user.email }}</strong></li>
        <li>Statut:  <strong>get Role()</strong></li>
    </ul>
    <li> <a href="{{ path('app_service_account_index') }}">Gestion de mes services proposés</a> </li>
    <li> <a href="{{ path('app_demandes_account_index') }}">Gestion de mes demandes</a> </li>
    <a class="disconnect" href="/logout">Se déconnecter</a>
</div>

{% endblock %}
