{% extends 'base.html.twig' %}

{% block title %}Demandes index{% endblock %}

{% block body %}
<div class="demande">
<h2>Demandes index</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>Date</th>
                <th>Heure début</th>
                <th>Heure fin</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.service.nom}}</td>
                <td>{{ demande.planedDate ? demande.planedDate|date('Y-m-d') : '' }}</td>
                <td>{{ demande.debutTime ? demande.debutTime|date('H:i:s') : '' }}</td>
                <td>{{ demande.endTime ? demande.endTime|date('H:i:s') : '' }}</td>
                <td>{{ demande.statut }}</td>
                <td>
                    <a href="{{ path('app_demandes_show', {'id': demande.id}) }}">Afficher</a>
                    <a href="{{ path('app_demandes_edit', {'id': demande.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demandes_new') }}">Créer une nouvelle demande</a>
</div>
    
{% endblock %}
