{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ service.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ service.prix }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ service.localisation }}</td>
            </tr>
            <tr>
                <th>Prestataire</th>
                <td>{{ service.user.nom ~ ' ' ~ service.user.prenom }}</td>
            </tr>
            <tr>
                <th></th>
                <td><img src="{{ vich_uploader_asset(service, 'imageFile') }}" alt="Article"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home_demande', {'id': service.id}) }}">Faire une demande pour ce service</a>

{% endblock %}