{% extends 'base.html.twig' %}

{% block title %}Demandes index{% endblock %}

{% block body %}
<div class="demande">
<h2>Demandes index</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>Date</th>
                <th>Heure début</th>
                <th>Heure fin</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.service.nom}}</td>
                <td>{{ demande.planedDate ? demande.planedDate|date('Y-m-d') : '' }}</td>
                <td>{{ demande.debutTime ? demande.debutTime|date('H:i:s') : '' }}</td>
                <td>{{ demande.endTime ? demande.endTime|date('H:i:s') : '' }}</td>
                <td>{{ demande.statut }}</td>
                <td>
                    <a href="{{ path('app_demandes_account_show', {'id': demande.id}) }}">Afficher</a>
                    <a href="{{ path('app_demandes_account_edit', {'id': demande.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></br>

    {% for demande in demandes %}
        {% if demande.statut == "en attente" and demande.newPlanedDate is not empty %}
            <h3>Nouvelle date propositions : </h3>
        {% endif %}
        {% set break = true %}
    {% endfor %}

    {% for demande in demandes %}
        {% if demande.statut == "en attente" and demande.newPlanedDate is not empty %}
            <p>Le prestataire vous a proposé une nouvelle date pour votre demande du service {{ demande.service.nom}} : <a href="{{ path('app_demandes_account_new_date', {'id': demande.id}) }}">Cliquez ici pour donner votre réponse</a></p>
        {% endif %}
    {% endfor %}

    <a href="{{ path('app_demandes_account_new') }}">Créer une nouvelle demande</a>
</div>
    
{% endblock %}
