{% extends 'base.html.twig' %}

{% block title %}Demandes index{% endblock %}

{% block body %}
<div class="demande">
<h2>Demandes index</h2>

    {% for message in app.flashes('confirmDemande') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>Date</th>
                <th>Paiement</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.service.nom}}</td>
                {% if demande.newPlanedDate %}
                    <td>{{ demande.newPlanedDate|date('Y-m-d') }}</td>
                {% else %}
                    <td>{{ demande.planedDate ? demande.planedDate|date('Y-m-d') : '' }}</td>
                {% endif %}
                {% if demande.statut == "accepte" and not demande.paiement %}
                    <td style="color : red;">En attente</td>
                {% else %}
                    <td>{{ demande.paiement ? 'Fait' : '' }}</td>
                {% endif %}
                <td>{{ demande.statut }}</td>
                <td>
                    <a href="{{ path('app_demandes_account_show', {'id': demande.id}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></br>


    {% set break = false %}
    {% for demande in demandes %}
        {% if demande.statut == "accepte" and demande.serviceTermine and demande.note is null %}

            <form action="{{ path('app_demande_account_add_note', {'id': demande.id}) }}" method="post" enctype="multipart/form-data">
                {% if  demande.newPlanedDate %}
                    <label for="note">La prestation du  {{  demande.newPlanedDate|date('d/m/Y') }} pour le service <b>{{ demande.service.nom}}</b> a été effectué, notez cette prestation (sur 5) :</label>
                {% else %}
                    <label for="note">La prestation du  {{ demande.planedDate|date('d/m/Y') }} pour le service <b>{{ demande.service.nom}}</b> a été effectué, notez cette prestation (sur 5) :</label>
                {% endif %}

                <input type="number" id="note" name="note"
                    min="0" max="5">
            
                <input type="submit" value="Submit">
            </form></br>

        {% endif %}
    {% endfor %}
    
    {% set break = false %}
    {% for demande in demandes %}
        {% if demande.statut == "en attente" and not demande.newPlanedDate and demande.propositionNouvelleDate and not break %}
            <h3>Nouvelle date propositions : </h3>
            {% set break = true %}
        {% endif %}
    {% endfor %}

    {% for demande in demandes %}
        {% if demande.statut == "en attente" and not demande.newPlanedDate and demande.propositionNouvelleDate %}
            <p>Le prestataire souhaite que vous proposiez une nouvelle date pour votre demande du service <b>{{ demande.service.nom}}</b> : <a href="{{ path('app_demande_account_new_date', {'id': demande.id}) }}"><button class="btn btn-lg btn-default">{{ button_label|default('Proposer une nouvelle date') }}</button></a></p>
        {% endif %}
    {% endfor %}

    {% set break = false %}
    {% for demande in demandes %}
        {% if demande.statut == "accepte" and not demande.paiement and not break %}
            <h3>Paiement(s) en attente :</h3>
            {% set break = true %}
        {% endif %}
    {% endfor %}

    {% for demande in demandes %}
        {% if demande.statut == "accepte" and not demande.paiement %}
            <p>Votre demande du service {{ demande.service.nom}} a été acceptée : <a href="{{ path('app_demandes_account_paiement', {'id': demande.id}) }}">Procéder au paiement</a></p></br>
        {% endif %}
    {% endfor %}

</div>
    
{% endblock %}
