{% extends 'base.html.twig' %}

    
{% block title %}Nouvelle date proposition{% endblock %}

{% block body %}
    <h1>Proposer une nouvelle date :</h1>
    <p>Si le prestataire n'accepte pas cette nouvelle date, votre demande sera annulée et vous devrez refaire une nouvelle demande pour le service</p></br>

    <p>Première date proposée : {{ demande.planedDate|date('Y-m-d')}}</p></br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
