{% extends 'base.html.twig' %}

{% block title %}Disponibilite index{% endblock %}

{% block body %}
<div class="disponibilite">
 <h2>Disponibilités</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disponibilite in disponibilites %}
            <tr>
                <td>{{ disponibilite.id }}</td>
                <td>{{ disponibilite.date ? disponibilite.date|date('Y-m-d') : '' }}</td>
                <td>{{ disponibilite.statut }}</td>
                <td>
                    <a class="btn-show" href="{{ path('app_disponibilite_show', {'id': disponibilite.id}) }}">Afficher</a>
                    <a class="btn-edit" href="{{ path('app_disponibilite_edit', {'id': disponibilite.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="flex jce">
        <a class="btn-default" href="{{ path('app_disponibilite_new') }}">Créer une nouvelle disponibilité</a>
    </div>
</div>
   
{% endblock %}
