{% extends 'base.html.twig' %}

{% block title %}Interface admin{% endblock %}

{% block body %}
    <h1>Panel admin</h1>

    <ul>
        <li> <a href="{{ path('app_user_index') }}">Gestion des utilisateurs</a> </li>
        <li> <a href="{{ path('app_accreditation_index') }}">Gestion des approbations de prestations de service</a> </li>
        <li> <a href="{{ path('app_evenement_index') }}">Gestion des évènements</a> </li>
        <li> <a href="{{ path('app_service_index') }}">Gestion des services</a> </li>
        <li> <a href="{{ path('app_option_service_index') }}">Gestion des options</a> </li>
        <li> <a href="{{ path('app_demandes_index') }}">Gestion des demandes</a> </li>
        <li> <a href="{{ path('app_admin_manage') }}">Gestion des administrateurs</a> </li>
    </ul>

{% endblock %}