{% extends 'base.html.twig' %}

{% block title %}Demandes index{% endblock %}

{% block body %}
<div class="demande">

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ demande.planedDate ? demande.planedDate|date('Y-m-d') : '' }}</td>
            </tr>
            {% if demande.newPlanedDate|default %}
                <tr>
                    <th>Nouvelle date proposée</th>
                    <td>{{ demande.newPlanedDate|date('Y-m-d') }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Heure de début</th>
                <td>{{ demande.debutTime ? demande.debutTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure de fin</th>
                <td>{{ demande.endTime ? demande.endTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ demande.statut }}</td>
            </tr>
        </tbody>
    </table>

    {%if demande.statut == 'en attente' and  not demande.newPlanedDate  %}
        <p>Le client {{ demande.user.nom}} {{ demande.user.prenom}} attend une réponse de votre part pour sa demande :</p></br></br>

        <a href="{{ path('app_service_account_accept_demande', {'id': demande.id}) }}"><button class="btn btn-lg btn-default">{{ button_label|default('Accepter') }}</button></a>
        <a href="{{ path('app_service_account_new_date', {'id': demande.id}) }}"><button class="btn btn-lg btn-default">{{ button_label|default('Le client propose une nouvelle date') }}</button></a>
        <a href="{{ path('app_service_account_accept_refuse', {'id': demande.id}) }}"><button class="btn btn-lg btn-default">{{ button_label|default('Refuser') }}</button></a>
    {% endif %}
</div>
    
{% endblock %}