{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Date</th>
                <th>Service</th>
                <th>Emmeteur</th>
                <th>Destinataire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if messages is iterable %}
            {% for message in messages %}
                {% for value in message %}
                    
                
                <tr>
                    <td>{{ value.id }}</td>
                    <td>{{ value.message }}</td>
                    <td>{{ value.date ? value.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ value.demande }}</td>
                    <td>{{ value.emmeteur }}</td>
                    <td>{{ value.recepteur }}</td>
                    <td>
                        <a href="{{ path('app_message_show', {'id': value.id}) }}">show</a>
                        <a href="{{ path('app_message_edit', {'id': value.id}) }}">edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
                {% endfor %}
            {% endfor %}
        {% endif %}
                
        </tbody>
    </table>

    <a href="{{ path('app_message_new') }}">Create new</a>
{% endblock %}
