<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="container navbar flex jcb aic">
                <h1><a href="/">Lucie</a></h1>
                <div class="search flex aic">
                    <i class="fa fa-search"></i>
                    <input type="text" name="" id="" placeholder="Filtrez vos recherches ici">
                    <form>
                        <img src="{{ asset('build/images/settings.svg') }}" alt="filtre" class="btn-filter">
                        <div class="filter-list">
                            <div>
                                <button class="close-btn-filter"><i class="fa-regular fa-circle-xmark"></i></button>
                                <span>Filtres</span>
                            </div>
                            <hr />
                            <div>
                                <label>Fouchette de prix</label>
                                <div class="flex jcb container-price-filter">
                                    <input type="number" name="" id="" placeholder="Minimum">
                                    <hr />
                                    <input type="number" name="" id="" placeholder="Maximum">
                                </div>
                                <label for="">Date de l’événement et nombre de jours </label>
                                <div class="flex jcb">
                                    <input type="text" name="" id="" placeholder="JJ/MM/AAAA">
                                    <hr />
                                    <input type="number" name="" id="" placeholder="0">
                                </div>
                            </div>
                            <hr />
                            <div>
                                <label for="">Type d’évènement </label>
                                <div>
                                    <ul class="flex jcb fww">
                                        <li class="flex aic">
                                          <div class="btn-choise-event" data-filter="mariage"></div>
                                          <input type="checkbox" name="mariage" id="" >
                                          <label for="">Mariage</label>
                                        </li>
                                        <li class="flex aic">
                                          <div class="btn-choise-event" data-filter="anniversaire"></div>
                                          <input type="checkbox" name="anniversaire" id="" >
                                          <label for="">Anniversaire</label>
                                        </li>
                                        <li class="flex aic">
                                          <div class="btn-choise-event" data-filter="bapteme_Barrmivah"></div>
                                          <input type="checkbox" name="bapteme_Barrmivah" id="" >
                                          <label for="">Baptème / Barrmivah</label>
                                        </li>
                                        <li class="flex aic">
                                          <div class="btn-choise-event" data-filter="soiree_privee"></div>
                                          <input type="checkbox" name="soiree_privee" id="" >
                                          <label for="">Soirée privée</label>
                                        </li>
                                        <li class="flex aic">
                                          <div class="btn-choise-event" data-filter="soiree_entreprise"></div>
                                          <input type="checkbox" name="soiree_entreprise" id="" >
                                          <label for="">Soirée d’entreprise</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr />
                            <div>
                                <label for="">Service</label>
                                <div>
                                    <ul class="flex jcb fww">
                                        <li class="flex aic">
                                            <div class="btn-choise-event" data-filter="salle"></div>
                                            <input type="checkbox" name="salle" id="" >
                                            <label for="">Salle</label></li>
                                        <li class="flex aic">
                                            <div class="btn-choise-event" data-filter="traiteur"></div>
                                            <input type="checkbox" name="traiteur" id="" >
                                            <label for="">Traiteur</label>
                                        </li>
                                        <li class="flex aic">
                                            <div class="btn-choise-event" data-filter="wedding_planer"></div>
                                            <input type="checkbox" name="wedding_planer" id="" >
                                            <label for="">Wedding Planer</label>
                                        </li>
                                        <li class="flex aic">
                                            <div class="btn-choise-event" data-filter="dj"></div>
                                            <input type="checkbox" name="dj" id="" >
                                            <label for="">DJ</label>
                                        </li>
                                        <li class="flex aic">
                                            <div class="btn-choise-event" data-filter="orchestre"></div>
                                            <input type="checkbox" name="orchestre" id="" >
                                            <label for="">Orchestre</label>
                                        </li>
                                        <li class="flex aic">
                                            <div class="btn-choise-event" data-filter="decorateur"></div>
                                            <input type="checkbox" name="decorateur" id="" >
                                            <label for="">Décorateur</label>
                                        </li>
                                        <li class="flex aic">
                                            <div class="btn-choise-event" data-filter="fleuriste"></div>
                                            <input type="checkbox" name="fleuriste" id="" >
                                            <label for="">Fleuriste</label>
                                        </li>
                                        <li class="flex aic">
                                            <div class="btn-choise-event" data-filter="photo_vidéo"></div>
                                            <input type="checkbox" name="photo_vidéo" id="" >
                                            <label for="">Photo/ Vidéo</label>
                                        </li>
                                        <li class="flex aic">
                                            <div class="btn-choise-event" data-filter="maquillage"></div>
                                            <input type="checkbox" name="maquillage" id="" >
                                            <label for="">Maquillage </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr />
                            <div>
                                <label for="">Option de réservation </label>
                            </div>
                            <hr />
                            <div class="text-center">
                                <button class="btn-valid-filter">Valider</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <ul class="flex jcb">
                    <li class="flex">
                        <a href="#" class="flex aic">
                            <i class="fa-regular fa-heart"></i>
                            <span>Favori</span>
                        </a>
                    </li>
                    <li class="flex">
                        <a href="#" class="flex aic">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>Réservations</span>
                        </a>
                    </li>
                    <li class="flex">
                        <a href="#" class="flex aic">
                            <i class="fa-regular fa-comment-dots"></i>
                            <span>Messages</span>
                        </a>
                    </li>
                    <li class="flex">
                        {% if app.user %}
                            <a href="/profil" class="flex aic">
                                <div>
                                    <img class="circle profil-picture" title="{{ app.user.userIdentifier }}" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
                                </div>
                                <span>{{ app.user.userIdentifier }}</span>

                            </a>
                        {% else %}
                            <a href="/login" class="flex aic">
                                <span>Connexion</span>
                                <i class="fa-regular fa-circle-user"></i>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
         {% block aside %}{% endblock %}

        <main class="container">
            {% block body %}{% endblock %}
        </main>

        <footer>
            <nav class="container flex jcb">
            <div>
                <a href="#" class="menu-title">Mariage</a>
                <ul>
                    <li><a href="#">Lorem, ipsum dolor.</a></li>
                    <li><a href="#">Maiores, suscipit quisquam?</a></li>
                    <li><a href="#">Quasi, omnis numquam?</a></li>
                    <li><a href="#">Expedita, est modi?</a></li>
                    <li><a href="#">Nostrum, dicta sapiente!</a></li>
                    <li><a href="#">Harum, sed nulla?</a></li>
                    <li><a href="#">Molestias, assumenda accusamus!</a></li>
                </ul>
            </div>
            <div>
                <a href="#" class="menu-title">Anniversaire</a>
                <ul>
                    <li><a href="#">Lorem, ipsum dolor.</a></li>
                    <li><a href="#">Maiores, suscipit quisquam?</a></li>
                    <li><a href="#">Quasi, omnis numquam?</a></li>
                    <li><a href="#">Expedita, est modi?</a></li>
                    <li><a href="#">Nostrum, dicta sapiente!</a></li>
                    <li><a href="#">Harum, sed nulla?</a></li>
                    <li><a href="#">Molestias, assumenda accusamus!</a></li>
                </ul>
            </div>
            <div>
                <a href="#" class="menu-title">Soirée privée</a>
                <ul>
                    <li><a href="#">Lorem, ipsum dolor.</a></li>
                    <li><a href="#">Maiores, suscipit quisquam?</a></li>
                    <li><a href="#">Quasi, omnis numquam?</a></li>
                    <li><a href="#">Expedita, est modi?</a></li>
                    <li><a href="#">Nostrum, dicta sapiente!</a></li>
                    <li><a href="#">Harum, sed nulla?</a></li>
                    <li><a href="#">Molestias, assumenda accusamus!</a></li>
                </ul>
            </div>
            <div>
                <a href="#" class="menu-title">Naissance</a>
                <ul>
                    <li><a href="#">Lorem, ipsum dolor.</a></li>
                    <li><a href="#">Maiores, suscipit quisquam?</a></li>
                    <li><a href="#">Quasi, omnis numquam?</a></li>
                    <li><a href="#">Expedita, est modi?</a></li>
                    <li><a href="#">Nostrum, dicta sapiente!</a></li>
                    <li><a href="#">Harum, sed nulla?</a></li>
                    <li><a href="#">Molestias, assumenda accusamus!</a></li>
                </ul>
            </div>
                
            </nav>
        </footer>
    </body>
</html>
